.cssLabel {
     padding-left: 4px;
     padding-right: 4px;
     height: 30px;
     border: 1px dashed #000080;
     border-radius: 5px;
}

.cssLabel2 {
     padding: 3px;
     height: 30px;
     background-color: #000080;
     border-radius: 5px;
     color: white;
}

.cssLabel3 {
     padding-left: 4px;
     padding-right: 4px;
     height: 30px;
     border: 1px dashed #000080;
     border-radius: 5px;
     font-size: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.cssLabel4 {
     padding: 3px;
     height: 30px;
     background-color: #000080;
     border-radius: 5px;
     color: white;
     font-size: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 8px;
}

.cssButton {
     border: 1px solid black;
     padding: 3px;
     border-radius: 2px;
     margin-left: 10px;
     cursor: pointer;
     width: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
}


.cssButton2 {
     background-color: #000080;
     padding: 3px;
     padding-left: 12px;
     padding-right: 12px;
     color: white;
     margin-left: 5px;
     cursor: pointer;
     border-radius: 2px;
     width: 120px;
     display: flex;
     align-items: center;
     justify-content: center;
}