:root {
  margin: 0;
  padding: 0;
  --sidebarcolor: #f0f0f0ae;
  --body-fonts: "Helvetica", "Arial", sans-serif;
  --line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

code {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display-auto {
  display: flex;
  align-items: center;
}

.headerTable {
  background-color: #052c65;
  color: white;
}

.cursor {
  cursor: pointer;
}

#input {
  font-size: 12px;
  padding: 3px 10px;
}